@media (min-width: 992px) {
  .about-margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
a#head {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-image: linear-gradient(#212529, #1b2430) !important;
  background-repeat: no-repeat;
}

span.a,
span.m,
span.s,
span.w,
span.e {
  color: #816797;
}
a#head span:hover {
  color: #1b2430 !important;
  transition: 0.2s ease-in-out;
}

div.first {
  margin-top: calc(5rem + 2.5vw);
  font-size: calc(2.5rem + 0.5vw) !important;
}

div.mail {
  margin-bottom: calc(9rem + 2.5vw) !important;
}
